<div class="product js-product-box">
  <h4>{{ product_subject }}</h4>
  <span>{{ like_date }} <a href="/fund/weekly/{{ group_article }}" class="tip-ballon js-tip-box hide">调仓<br class="mobile-element">通知</a></span>
  <div class="text-center">
    <h2>
      <span class="js-data-num">{{ group_lately_income }}</span>
    </h2>
    <p class="total-profit">累计收益</p>
    <p class="yesterday-profit">昨日收益率 <em>{{ group_yesterday_income }}</em></p>
  </div>
</div>
