<div class="modals-group dlg-accident form-wrapper">
  <div class="onemodal-bd">
    <img class="guihua-logo" src={{ guihua_logo_src }} alt="">
    <span class="js-dot-main"></span>
    <img class={{ partner_logo }} src={{ partner_logo_src }} alt="">
    <div class="text-center">
      <a target="_blank" href={{redirect_url}} class="btn btn-continue mobile-element">继续前往合作网站</a>
      <p class="desktop-element text-12 text-lighter skip-text">正在前往合作网站...</p>
    </div>
    <a target="_blank" href={{redirect_url}} class="desktop-element btn btn-primary btn-direct">知道了，继续</a>
    <p class="text-lighter desktop-element text-12">好规划提示：保险条款以保险合同为准，付款前请详细了解</p>
    <p class="mobile-element text-dark text-bold">其实，使用电脑投保更方便</p>
    <div class="input-group mobile-element">
      <input class="js-user-email" type="text" placeholder="输入邮箱，电脑收取链接">
      <span class="input-unit js-btn-send">立即发送</span>
    </div>
    <p class="text-red text-12 text-left js-email-error hide">请输入正确的邮件地址</p>
  </div>
</div>
